@tailwind components;
@tailwind base;
@tailwind utilities;
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}

body{
  color: black;
}

.button-3d {
  @apply inline-block px-6 py-3 rounded-lg text-white bg-green-500 shadow-md transition-transform duration-300 ease-in-out cursor-pointer;
}

.button-3d:hover {
  @apply transform translate-y-2 shadow-sm;
}

.button-3d:active {
  @apply transform translate-y-1 shadow;
}



.main {
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    padding: 120px 24px 160px 24px;
    pointer-events: none;

  }
  
  .main:before {
    background-color: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa00 100%);
    position: absolute;
    content: "";
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
  }
  
  .main:after {
    content: "";
    background-image: url("/assets/images/grid.svg");
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0.6;
    filter: invert(1);
  }

  .portfolio {
    content: "";
    background-image: url("/assets/images/bg.svg");
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #161616;

  
  }
  .app {
    @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
   
  }

  .animate-fadeIn {
    animation: fadeIn 1s ease-in-out forwards;
  }
  .portbg{
    background-image: linear-gradient(103deg, #1E1E24 0%, #0e0e11 100%);}
  .gradient {
    height: fit-content;
    z-index: 3;
    width: 100%;
    max-width: 640px;
    background-image: radial-gradient(
        at 27% 37%,
        hsla(215, 98%, 61%, 1) 0px,
        transparent 0%
      ),
      radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
      radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
      radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
      radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
      radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
      radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    filter: blur(100px) saturate(150%);
    top: 80px;
    opacity: 0.15;
  }

  /* Navbar */
  .dropdown {
    @apply absolute right-0 top-full mt-3 min-w-[150px] p-2 rounded-lg bg-white  flex flex-col gap-2 justify-center items-center;
  }
  
  .dropdown_link {
    @apply text-lg text-gray-700 hover:text-gray-500 font-medium;
  }
  
  
  @media screen and (max-width: 640px) {
    .main {
      padding: 0;
    }
  }
  